@import url('https://fonts.googleapis.com/css2?family=Roboto');
h1{
    font-family: 'Robot', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 35px;
}
ul{
    list-style: none;
}
li{
    font-family: 'Robot', sans-serif;
}
input[type=radio]{
    border: 0px;
    width: 20px;
    height: 2em;
}
p{
    font-family: 'Robot', sans-serif;
}
.quizContainer{
    background-color: palevioletred;
    border-radius: 8px;
    width: 75%;
    margin: auto;
    margin-top: 190px;
    padding-top: 5px;
    position: relative;
}