@import url('https://fonts.googleapis.com/css2?family=Roboto');
h1{
    font-family: 'Robot', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 35px;
}
ul{
    list-style: none;
}
li{
    font-family: 'Robot', sans-serif;
}
input[type=radio]{
    border: 0px;
    width: 20px;
    height: 2em;
}
p{
    font-family: 'Robot', sans-serif;
}
.quizContainer{
    background-color: palevioletred;
    border-radius: 8px;
    width: 75%;
    margin: auto;
    margin-top: 190px;
    padding-top: 5px;
    position: relative;
}
.nextButton{
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: mediumslateblue;
    color: antiquewhite;
    font-weight: bold;
    font-family: 'Robot', sans-serif;
    position: relative;
    margin: auto;
    padding-top: 20px;
}
.question{
    font-family: 'Robot' , sans-serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    
    text-align: center;
    color: whitesmoke;    
}
.quizMessage{
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family: 'Robot', sans-serif;
    color: royalblue;
}
.choiceList{
    font-family: Courier, serif;
    color: whitesmoke;
}
.result{
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Robot', sans-serif;
}